.Header{
    background-color:rgb(237, 120, 120);
    height: 70px;
}

.great-vibes-regular ,h1{
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    color: red;
  }